.account {
    $boxchadow: 0px 12px 20px 0px rgb(0, 0, 0, 35%);
    & .list-group {
        box-shadow: $boxchadow;
    }
    & .right { 
        & .bg-white {
            box-shadow: $boxchadow;
        }
    }
}