<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid justify-content-between">
            <button (click)="toggle()" type="button" id="sidebarCollapse" class="btn-info custom-button">
                <i class="fas fa-align-left"></i>
            </button>
            <div>
                <div *ngIf="!isLoggedIn" class="btn btn-danger" data-toggle="modal" data-target="#Login">
                    <span class="d-flex align-items-center">
                        <i class="fas fa-sign-in-alt mr-2"></i>
                        {{ 'account.login.connection' | translate}}
                    </span>
                    <div class="back"></div>
                </div>
                
                <div *ngIf="isLoggedIn" class="account">
                    <img class="avatar" src="{{avatar}}" />
                    <ul class="navbar-nav mr-auto ml-2">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                RoiStee
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <ng-container *ngIf="hasAdmin">
                                    <a class="dropdown-item d-flex align-items-center text-danger" routerLink="/Administration">
                                        <i class="fas fa-cogs mr-2"></i>
                                        Administration
                                    </a>
                                    <div class="dropdown-divider"></div>
                                </ng-container>
                                <a class="dropdown-item d-flex align-items-center" routerLink="/Account">
                                    <i class="fas fa-user mr-2"></i>
                                    {{ 'account.member.account' | translate}}
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#" routerLink="/Messaging">
                                    <i class="fas fa-envelope mr-2"></i>
                                    {{ 'account.member.messaging' | translate}}
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#" routerLink="/Support">
                                    <i class="fas fa-ticket-alt mr-2"></i>
                                    {{ 'account.member.support' | translate}}
                                </a>
                                <div class="dropdown-divider"></div>
                                <div (click)="logout()" class="btn btn-danger">
                                    <span class="d-flex align-items-center">
                                        <i class="fas fa-power-off mr-2"></i>
                                        {{ 'account.member.disconnect' | translate}}
                                    </span>
                                    <div class="back"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>