<div class="d-flex">
    <div class="col-7 border bg-warehouse p-3 mr-2">
        <form id="contact-form" method="post" action="contact.php" role="form">
            <div class="messages"></div>
            <div class="controls">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_name">Firstname *</label>
                            <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname">Lastname *</label>
                            <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_email">Email *</label>
                            <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_need">Please specify your need *</label>
                            <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                                <option value=""></option>
                                <option value="Request quotation">Request quotation</option>
                                <option value="Request order status">Request order status</option>
                                <option value="Request copy of an invoice">Request copy of an invoice</option>
                                <option value="Other">Other</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_message">Message *</label>
                            <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success btn-send" value="Send message">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-5 border bg-warehouse p-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus tortor, pulvinar non justo sed, accumsan imperdiet elit. Mauris id mollis augue, at molestie enim. Integer eu libero pellentesque orci fringilla lacinia. Nulla egestas est sit amet sem suscipit bibendum. Quisque euismod enim vel egestas tristique. Pellentesque vehicula lectus nec congue ornare. Aliquam risus quam, fermentum vitae sollicitudin eget, feugiat a nisi. Ut efficitur elit id ullamcorper laoreet. Nulla vitae nisi lacus. Integer posuere orci vel vulputate scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce nisi libero, imperdiet porttitor nisi vitae, bibendum pharetra tortor.

        Quisque vel posuere nibh. Nulla id pretium nisi. Quisque scelerisque elementum massa. Pellentesque cursus at mauris rhoncus elementum. Maecenas ut dignissim enim. Quisque sed tellus condimentum, venenatis ante eu, tincidunt dui. Praesent pharetra, massa vel dictum feugiat, est massa semper elit, a accumsan arcu justo quis est. Mauris eget libero tortor. Pellentesque commodo eleifend risus.

        Phasellus dignissim fringilla laoreet. Curabitur id eros ullamcorper, posuere ligula eu, ullamcorper mi. Sed vel facilisis lacus. Morbi ac diam quis mauris cursus tempor ut eget mauris. Ut a orci vestibulum, pellentesque ex vulputate, ultrices diam. Pellentesque vitae maximus enim. Aenean eget ante sollicitudin, tincidunt est eu, tempus purus. Donec dictum dignissim velit eget dapibus. Mauris suscipit ut turpis eu pellentesque. Praesent congue ligula a nibh varius, quis consectetur nunc condimentum. Donec elementum enim a augue sollicitudin fringilla. Sed sed purus rhoncus, imperdiet ex ullamcorper, tempor nibh.

        Nam justo libero, iaculis et turpis sit amet, porta imperdiet eros. Nullam commodo pulvinar sem, et efficitur tortor iaculis ac. Aliquam faucibus erat tellus, non dapibus magna elementum et. Proin felis metus, pulvinar eget consequat sit amet, scelerisque vitae nisl. Vivamus molestie lacinia tellus, quis mollis justo vulputate id. Fusce ut interdum erat. Praesent suscipit quam vel urna faucibus sodales. Maecenas aliquam, felis ac vestibulum pharetra, ante elit accumsan sapien, eget sollicitudin justo arcu et dui.

        Donec faucibus rhoncus tellus, sit amet ultricies neque malesuada in. Pellentesque sodales ultrices diam, et eleifend ante vehicula at. Suspendisse maximus pharetra suscipit. Proin aliquet augue tortor, sed pharetra nibh lobortis ut. Praesent consequat sollicitudin nibh, tristique elementum nulla vestibulum nec. Proin nec porta nunc. Integer at vestibulum turpis, id molestie massa. Nunc quis commodo massa. Proin vel nulla consectetur, mollis nisl a, egestas mauris. Phasellus finibus massa sed elit porta feugiat. Aliquam non ipsum commodo ante facilisis finibus. Vivamus mauris nisi, lobortis id elementum sit amet, fermentum at velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec efficitur dolor nunc, ut semper est volutpat at. Morbi massa metus, dignissim auctor augue vel, feugiat semper dolor. Morbi odio augue, imperdiet in sodales ac, commodo a ex.
    </div>
</div>