<!-- BEGIN IF_PAS_CONNECTE -->
<app-loading [hasLoading]="loading"></app-loading>
<section class="row recovery" *ngIf="!hasLogged">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4 p-0">
        <div class="title w-100 d-flex justify-content-between align-items-center">
            <h1 class="w-100 m-0"><i class="fas fa-feather-alt"></i> Réinitialisation du mot de passe</h1>
        </div>
        <div class="row bg-span">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-4 mb-4">
                <form [formGroup]="recoveryForm" (ngSubmit)="recovery(recoveryForm)" class="bg-warehouse border pt-4 pb-4" method="POST">
                    <div *ngIf="!hasSendMail; else newPassword">
                        <!-- BEGIN RESTORE_EMAIL -->
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Votre adresse email</label>
                            <div class="col-md-7">
                                <input type="email" formControlName="email" id="email" placeholder="Adresse email*" class="form-control" name="email" required>
                                <div *ngIf="f.email.touched && f.email.invalid">
                                    <app-alert [onCloseButton]="false" *ngIf="f.email.errors" [type]="'warning'" [message]="'Addresse email invalide !'"></app-alert>
                                    <app-alert [onCloseButton]="false" *ngIf="f.email.errors.required" [type]="'error'" [message]="'L\'adresse  email doit être renseigné !'"></app-alert>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <div for="captcha" class="col-md-4 col-form-label text-md-right pt-0 pb-0">
                                <img [src]="captcha" class="mr-2"  alt="{{'account.registerForm.image.title' | translate }}" name="img" title="{{'account.registerForm.image.title' | translate }}" />
                                <a class="mt-1" (click)="auths()" class="image_de_verif" title="{{'account.registerForm.image.reload' | translate }}"><i class="fas fa-sync-alt"></i></a>
                            </div>
                            <div class="col-md-7">
                                <input type="text" id="captcha" formControlName="captcha" class="form-control" placeholder="{{'account.registerForm.image.placeholder' | translate }}" name="captcha" required>
                            </div>
                        </div>
                        <div *ngIf="f.captcha.touched && f.captcha.invalid" class="form-group row align-items-center mb-0">
                            <div class="col-md-4 col-form-label text-md-right">
                            </div>
                            <div class="col-md-7">
                                <app-alert [onCloseButton]="false" *ngIf="f.captcha.errors.required" [type]="'error'" [message]="' Merci de recopier les entitées !'"></app-alert>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <label class="col-md-4 col-form-label text-md-right">
                                <img *ngIf="loading" src="../../../../../assets/images/style/loading.gif"  width="32" />
                            </label>
                            <div class="col-md-7">
                                <app-alert [onCloseButton]="false" *ngIf="response" [type]="response?.status" [message]="response?.message"></app-alert>
                                <button type="submit" class="btn btn-danger ml-0 mt-3" [disabled]="!recoveryForm.valid">
                                    <span class="d-flex align-items-center">
                                        <i class="fas fa-sign-in-alt mr-2"></i>
                                        Valider
                                    </span>
                                    <div *ngIf="recoveryForm.valid" class="back"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- END RESTORE_EMAIL -->
                    <!-- BEGIN NEW_PASSWORD -->
                    <ng-template #newPassword>
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password max[20]</label>
                            <div class="col-md-7">
                                <input type="password" formControlName="password" name="password"  id="password" placeholder="Nouveau password*" maxlength="20" class="form-control" required>
                                <div *ngIf="f.password.touched && f.password.invalid">
                                    <app-alert *ngIf="f.password.errors.required" [type]="'error'" [message]="'account.login.passwordRequire' | translate"></app-alert>
                                    <app-alert *ngIf="f.password.errors.minlength" [type]="'warning'" [message]="'account.login.passwordMin' | translate" ></app-alert>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Confirmepassword" class="col-md-4 col-form-label text-md-right">Confirmer le password</label>
                            <div class="col-md-7">
                                <input type="password" formControlName="passwordCheck" name="passwordCheck"  maxlength="20" placeholder="Confirmer le nouveau password*" class="form-control" required>
                                <div *ngIf="f.passwordCheck.touched && f.passwordCheck.invalid">
                                    <app-alert *ngIf="f.passwordCheck.errors.required" [type]="'error'" [message]="'account.login.passwordRequire' | translate"></app-alert>
                                    <app-alert *ngIf="f.passwordCheck.errors.minlength" [type]="'warning'" [message]="'account.login.passwordMin' | translate" ></app-alert>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row align-items-center mb-0">
                            <div for="captcha" class="col-md-4 col-form-label text-md-right pt-0 pb-0">
                                <img [src]="captcha" class="mr-2"  alt="{{'account.registerForm.image.title' | translate }}" name="img" title="{{'account.registerForm.image.title' | translate }}" />
                                <a class="mt-1" (click)="auths()" class="image_de_verif" title="{{'account.registerForm.image.reload' | translate }}"><i class="fas fa-sync-alt"></i></a>
                            </div>
                            <div class="col-md-7">
                                <input formControlName="captcha" type="text" class="form-control" placeholder="{{'account.registerForm.image.placeholder' | translate }}" name="captcha" required>
                            </div>
                        </div>

                        <div *ngIf="f.captcha.touched && f.captcha.invalid" class="form-group row align-items-center mb-0">
                            <div class="col-md-4 col-form-label text-md-right">
                            </div>
                            <div class="col-md-7">
                                <app-alert [onCloseButton]="false" *ngIf="f.captcha.errors.required" [type]="'error'" [message]="' Merci de recopier les entitées !'"></app-alert>
                            </div>
                        </div>

                        <div class="row d-flex align-items-center">
                            <label class="col-md-4 col-form-label text-md-right">
                                <img *ngIf="loading" src="../../../../../assets/images/style/loading.gif"  width="32" />
                            </label>
                            <div class="col-md-7">
                                <app-alert [onCloseButton]="false" [type]="response?.status" [message]="response?.message"></app-alert>
                                <button type="submit" class="btn btn-danger ml-0 mt-3" [disabled]="!recoveryForm.valid">
                                    <span>Valider</span>
                                    <div *ngIf="recoveryForm.valid" class="back"></div>
                                </button>
                            </div>
                        </div>
                        
                    </ng-template>
                    <!-- END NEW_PASSWORD -->
                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-4 mb-4">
                <h5><i class="far fa-arrow-alt-square-right"></i> Informations complémentaires</h5>
                <p>Traitement des informations via ce formulaire.</p>
                <p class="bg-warehouse p-4 border">Les informations recueillies font l’objet d’un traitement informatique destiné à fournir et sécuriser l'accès au jeu et au site internet. Conformément à la loi "informatique et libertés" du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en envoyant un ticket via la section contact de notre site internet. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</p>
                <h5><i class="far fa-arrow-alt-square-right"></i> Liens utiles</h5>
                <ul class="list-group mb-4 nav">
                    <li class="list-group-item d-flex justify-content-between align-items-center nav-item"><a class="nav-link" href="/Reglements"><i class="fas fa-arrow-square-right"></i> Règlements</a></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center nav-item"><a class="nav-link" href="/Conditions"><i class="fas fa-arrow-square-right"></i> Conditions d'utilisation</a></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center nav-item"><a class="nav-link" href="/Politiques"><i class="fas fa-arrow-square-right"></i> Politique d'accès</a></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center nav-item"><a class="nav-link" href="/Paiements"><i class="fas fa-arrow-square-right"></i> Paiements & Sécurité</a></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center nav-item"><a class="nav-link" href="/Faq"><i class="fas fa-arrow-square-right"></i> F.A.Q</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- END IF_PAS_CONNECTE -->