<nav id="sidebar">
    <div class="sidebar-header">
        <h3 class="mb-0">{{ main?.title }}</h3>
        <strong>{{ main?.titleInitial }}</strong>
    </div>

    <ul class="list-unstyled components">
        <li routerLinkActive="active">
            <a routerLink="/Home">
                <i class="fas fa-home"></i>
                {{ 'global.menu.home' | translate }}
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/Forum">
                <i class="fas fa-briefcase"></i>
                {{ 'global.menu.forum' | translate }}
            </a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Pages
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-image"></i>
                Portfolio
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-question"></i>
                FAQ
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/Contact" >
                <i class="fas fa-paper-plane"></i>
                {{ 'global.menu.contact' | translate }}
            </a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul>
</nav>