
#content {
    width: 100%;
    padding: 20px 20px 45px 20px;
    min-height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    & app-header {
        width:100%;
        position:sticky;
        top:0;
        z-index:1000;
    }
    & app-login {
        z-index:10000;
    }
    & .page {
        width:90%;
    }
}

#aside {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    align-self: flex-start;
    height:100vh;
    box-shadow: 0px 0px 12px 0px black;
    z-index: 1000;
}

::ng-deep .modal-content {
    background-color: #2b2f39;
    border: 1px solid #11141d; 
    color: #ffffff;
    & .modal-header {
        background: #25272f;
        background-image: url("../assets/images/style/always-grey.png");
        border-bottom: solid 1px #121621;
    }

    & .modal-footer {
        background: #25272f;
        border-top: solid 1px #121621;
    }
}

::-webkit-input-placeholder {
    color: #eee !important;
    font-size: 13px;
}

::ng-deep ::-moz-placeholder {
    color: #eee !important;
    font-size: 13px;
}

::ng-deep :-ms-input-placeholder {
    color:  #eee !important;
    font-size: 13px;
}

::ng-deep ::placeholder {
    color:  #eee !important;
    font-size: 13px;
}

::ng-deep textarea {
    background-color: #25272f;
    border: 1px solid #121621;
    color:#eee;
    padding: 5px;
    outline:0;
}

::ng-deep .list-group-item {
    background-color: #25272f;
    border: 1px solid #121621;
    margin-top:1px;
}

.footer {
    left:0;
    bottom:0;
    z-index:0;
    width:100%;
}

::ng-deep .form-control, ::ng-deep .form-control:focus {
    background-color: #25272f;
    color: #eee;
    border: 1px solid #121621;
}

.tchat {
    width:100px;
    height:35px;
    background:#212529;
    position:fixed;
    right:0;
    bottom:0;
}