<app-slider></app-slider>
<section>
    <div class="card bg-warehouse border m-0 mt-5 w-100">
        <div class="card-body text-center m-0">
            <h2>Soutenez le Warehouse</h2>
            <hr>
            <p>Fermé depuis le vendredi 13 mars</p>
            <p>2020, les discothèques sont les seuls établissements à ne pas avoir ouvert depuis cette date. Sans date
                de réouverture, nous naviguons dans le brouillard mais nous devons tenir le cap!</p>

            <p>L’objectif de cette campagne est de nous aider à payer nos charges fixes, dont le loyer, afin que nous
                puissions ouvrir à nouveau nos portes en 2021. Parce que la patience ne paye malheureusement pas les
                factures…</p>
            <p>En remerciement, chaque donateur pourra inscrire son nom dans l’histoire du Warehouse avec le “mur des
                donateurs” que nous afficherons au cœur du Warehouse dès notre réouverture ! Pour les plus généreux,
                plus le montant du don sera élevé, plus le nom du donateur sera affiché en GROS sur le mur !</p>

            <p>Merci à tous pour votre soutien</p>
            <p>❤️</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" target="_blank"
                    href="https://www.paypal.com/donate/?hosted_button_id=DPT2EQFRH47E2">Je fais un don</a>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid pt-5 pb-5">
    <div class="row justify-content-center no-gutters">
        <div class="col-md-7 text-center">
            <h2 class="text-uppercase">La sélection de l'équipe</h2>
        </div>
    </div>

    <div class="row mt-4 no-gutters">
        <article class="col-12 col-sm-6 col-lg-4 p-0">
            <script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "Event",
        "name": "RAW - I Hate Models, CJ Bolland",
        "url": "https://www.warehouse-nantes.fr/event/raw-1",
        "description": "Après un SOLD OUT en novembre dernier, L’écurie RAW est de retour avec un plateau encore plus monstrueux...",
        "image": "https://www.warehouse-nantes.fr/images/event_flyer/5ee4998c75563324326674.jpg",
        "startDate": "2021-04-09CEST23:55:00",
        "endDate": "2021-04-10CEST06:30:00",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
            "@type": "Place",
            "name": "Warehouse",
            "sameAs": "https://www.warehouse-nantes.fr/",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "21 quai des Antilles",
                "addressLocality": "Nantes",
                "postalCode": "44200",
                "addressCountry": "FR"
            }
        },
        "offers": {
            "@type": "Offer",
            "url": "https://www.warehouse-nantes.fr/event/raw-1",
                        "priceCurrency": "EUR",
            "availability": "https://schema.org/InStock"
        },
        "performer": [
                        {
                "@type": "Person",
                "name": "CJ Bolland",
                "url": "http://www.cjbolland.com/",
                "sameAs": [
                  "https://www.facebook.com/cjbollandfanpage", "https://www.residentadvisor.net/dj/cjbolland"
                ]
            },                        {
                "@type": "Person",
                "name": "Cleft",
                "url": "http://www.organisme-texture.fr/",
                "sameAs": [
                  "https://www.facebook.com/cleftmusic/", "https://www.instagram.com/cleftoman/", "http://www.soundcloud.com/cleft-1", "http://www.twitter.com/cleftoman", "https://www.residentadvisor.net/dj/cleft?fbclid=IwAR0lyxu1LAsiX78CalFz3Qi--hx-thx6KZ6c2NfeVoVZcWF788UydhuVAmE"
                ]
            },                        {
                "@type": "Person",
                "name": "H.Mess",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/hmesss/", "https://www.instagram.com/hmessss/", "http://soundcloud.com/hmess", "https://www.youtube.com/channel/UCdqASw-QYmPfdxVlQhCZk1w", "https://www.residentadvisor.net/dj/h.mess"
                ]
            },                        {
                "@type": "Person",
                "name": "I Hate Models",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/I-Hate-Models-1507720959521404/", "https://www.instagram.com/ihatemodels1/?hl=fr", "https://soundcloud.com/ihatemodels?fbclid=IwAR0UNjTbpMnGSxaR15n3Y0xxBE2UZwINdKmikr9xMjvMrxQsDm-dba5SoGI", "https://www.youtube.com/watch?v=xjCb4CB-hdw&list=PLgQ-4VrkLfTQygxXAH2F3Qd032F0IABRp&index=1", "https://www.residentadvisor.net/dj/ihatemodels"
                ]
            },                        {
                "@type": "Person",
                "name": "Illnurse",
                "url": "https://www.raw-people.com/illnurse",
                "sameAs": [
                  "https://www.facebook.com/illnurse", "https://soundcloud.com/illnurse", "https://www.residentadvisor.net/dj/illnurse"
                ]
            },                        {
                "@type": "Person",
                "name": "Julian Muller",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/julianmullerito", "https://www.instagram.com/julianmuller__/?hl=fr", "http://soundcloud.com/muller-julian", "https://www.residentadvisor.net/dj/julianmuller"
                ]
            }                    ]
    }
</script>


            <a href="/event/raw-1?utm_source=banner" class="card">
                <img class="card-img rounded-0 ls-is-cached lazyloaded"
                    data-src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5ee35970c76a1655924445.jpg"
                    src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5ee35970c76a1655924445.jpg"
                    alt="RAW - I Hate Models, CJ Bolland">

                <div class="card-img-overlay d-inline-flex flex-column justify-content-center text-center">
                    <div class="card-text text-white text-shadow">
                        <h1 class="h5 text-uppercase font-weight-bold text-white mb-0">
                            RAW - I Hate Models, CJ Bolland
                        </h1>
                        <div class="d-none d-sm-block">
                            <small>Acid, Techno</small>
                        </div>
                        <div class="text-uppercase">vendredi 9 avril 2021</div>
                    </div>
                </div>
            </a>
        </article>
        <article class="col-12 col-sm-6 col-lg-4 p-0">
            <script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "Event",
        "name": "We Are Rave",
        "url": "https://www.warehouse-nantes.fr/event/we-are-rave-3",
        "description": "",
        "image": "https://www.warehouse-nantes.fr/images/event_flyer/5e73b37c032e3314355762.jpg",
        "startDate": "2021-04-23CEST23:59:00",
        "endDate": "2021-04-24CEST06:30:00",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
            "@type": "Place",
            "name": "Warehouse",
            "sameAs": "https://www.warehouse-nantes.fr/",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "21 quai des Antilles",
                "addressLocality": "Nantes",
                "postalCode": "44200",
                "addressCountry": "FR"
            }
        },
        "offers": {
            "@type": "Offer",
            "url": "https://www.warehouse-nantes.fr/event/we-are-rave-3",
                        "priceCurrency": "EUR",
            "availability": "https://schema.org/InStock"
        },
        "performer": [
                        {
                "@type": "Person",
                "name": "909 Resistance",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/909Resistance/", "https://soundcloud.com/909resistance"
                ]
            },                        {
                "@type": "Person",
                "name": "Acid Division",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/AcidDivisionOfficial/", "https://www.instagram.com/acid.division/", "http://soundcloud.com/acid_division", "https://www.youtube.com/channel/UCCts28jucbZJN7yOGvvu0Rw", "https://twitter.com/Acid_Division", "https://www.residentadvisor.net/dj/aciddivision"
                ]
            },                        {
                "@type": "Person",
                "name": "Bangbass",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/bangbassprodz/", "https://soundcloud.com/BANGBASS?fbclid=IwAR3D90WinwUTpeL4K-5gea3Iq_36D7xXYH3mFBdXF89q60A6NDliL4pvD78"
                ]
            },                        {
                "@type": "Person",
                "name": "Boston 168 (live)",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/Boston168Official/", "http://www.instagram.com/boston_168_official", "http://www.soundcloud.com/boston-168", "https://www.residentadvisor.net/dj/boston168"
                ]
            },                        {
                "@type": "Person",
                "name": "Darzack",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/Darzack-1518906838424910/", "https://www.instagram.com/darzack_techno/", "https://soundcloud.com/darzack", "https://www.residentadvisor.net/dj/darzack"
                ]
            },                        {
                "@type": "Person",
                "name": "Epidemie",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/Epidemie-156114274435931/", "https://soundcloud.com/epidemie"
                ]
            },                        {
                "@type": "Person",
                "name": "Jacidorex",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/Jacidorex/", "http://soundcloud.com/jacidorex", "https://www.youtube.com/playlist?playnext=1&list=PLVPJbh1qyhUIIJwhlHqVOaTMKLSs3u_U2&feature=gws_kp_artist", "https://www.residentadvisor.net/dj/jacidorex"
                ]
            },                        {
                "@type": "Person",
                "name": "Shmirlap",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/shmirlapoblykdfroke/", "https://soundcloud.com/shmirloop"
                ]
            },                        {
                "@type": "Person",
                "name": "Under Black Helmet",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/UnderBlackHelmet/", "https://www.instagram.com/under_black_helmet/", "https://soundcloud.com/under-black-helmet", "https://www.youtube.com/watch?v=zuwjENIHSks&list=PLZ2LZ1Ee2XJhSuEsuT9qICsei2aQBz5WC&index=1", "https://www.residentadvisor.net/dj/underblackhelmet"
                ]
            }                    ]
    }
</script>


            <a href="/event/we-are-rave-3?utm_source=banner" class="card">
                <img class="card-img rounded-0 ls-is-cached lazyloaded"
                    data-src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5ee4a6cb58240633989956.jpg"
                    src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5ee4a6cb58240633989956.jpg"
                    alt="We Are Rave">

                <div class="card-img-overlay d-inline-flex flex-column justify-content-center text-center">
                    <div class="card-text text-white text-shadow">
                        <h1 class="h5 text-uppercase font-weight-bold text-white mb-0">
                            We Are Rave
                        </h1>
                        <div class="d-none d-sm-block">
                            <small>Acid, Hardcore, Techno</small>
                        </div>
                        <div class="text-uppercase">vendredi 23 avril 2021</div>
                    </div>
                </div>
            </a>
        </article>
        <article class="col-12 col-sm-6 col-lg-4 p-0">
            <script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "Event",
        "name": "Pandemic - Sefa, Le Bask, Vortek&#039;s, Protokseed, FOU, Damien RK",
        "url": "https://www.warehouse-nantes.fr/event/pandemic-sefa-le-bask-vorteks",
        "description": "",
        "image": "https://www.warehouse-nantes.fr/images/event_flyer/5f7ee13f0e7f3150366457.jpg",
        "startDate": "2021-10-22CEST23:30:00",
        "endDate": "2021-10-23CEST06:30:00",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
            "@type": "Place",
            "name": "Warehouse",
            "sameAs": "https://www.warehouse-nantes.fr/",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "21 quai des Antilles",
                "addressLocality": "Nantes",
                "postalCode": "44200",
                "addressCountry": "FR"
            }
        },
        "offers": {
            "@type": "Offer",
            "url": "https://www.warehouse-nantes.fr/event/pandemic-sefa-le-bask-vorteks",
                        "priceCurrency": "EUR",
            "availability": "https://schema.org/InStock"
        },
        "performer": [
                        {
                "@type": "Person",
                "name": "Damien RK",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/DJDamienrk/", "https://www.instagram.com/damienrk/?fbclid=IwAR3qEWZ3SW7JtIFmEG34uUVQnezxen2UbmNT7okbptohRA8bwu03dHNKYlE", "https://soundcloud.com/damienrk", "https://twitter.com/damienrk?lang=fr"
                ]
            },                        {
                "@type": "Person",
                "name": "DJ FOU",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/djfoulevrai/", "http://instagram.com/djfouofficiel/", "https://soundcloud.com/dj-fou-2", "http://www.youtube.com/user/djfouofficiel", "https://twitter.com/DjFouofficiel"
                ]
            },                        {
                "@type": "Person",
                "name": "Le Bask",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/LeBask.official/", "https://www.instagram.com/lebask.official/", "https://soundcloud.com/lebask", "https://www.youtube.com/channel/UCgD08CY6AHlj5-UmxTZxR0w"
                ]
            },                        {
                "@type": "Person",
                "name": "Protokseed",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/protokseed/", "https://www.instagram.com/protokseed_omnylab/", "https://soundcloud.com/protokseed"
                ]
            },                        {
                "@type": "Person",
                "name": "Sefa",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/djsefa/", "https://www.instagram.com/sefavl/?hl=fr", "https://www.youtube.com/channel/UCZpHk06_nhe7C6n0tD1mt_w"
                ]
            },                        {
                "@type": "Person",
                "name": "Vorterk&#039;s",
                "url": "https://www.pandemic-events.com/vorteks",
                "sameAs": [
                  "https://www.facebook.com/vortekss/", "https://www.instagram.com/vorteks_official/", "http://youtube.com/channel/UCmuHHaQiImsS0bkUXs5pTzA"
                ]
            }                    ]
    }
</script>


            <a href="/event/pandemic-sefa-le-bask-vorteks?utm_source=banner" class="card">
                <img class="card-img rounded-0 ls-is-cached lazyloaded"
                    data-src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5ee4a44c4b49e258063285.jpg"
                    src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5ee4a44c4b49e258063285.jpg"
                    alt="Pandemic - Sefa, Le Bask, Vortek's, Protokseed, FOU, Damien RK">

                <div class="card-img-overlay d-inline-flex flex-column justify-content-center text-center">
                    <div class="card-text text-white text-shadow">
                        <h1 class="h5 text-uppercase font-weight-bold text-white mb-0">
                            Pandemic - Sefa, Le Bask, Vortek's, Protokseed, FOU, Damien RK
                        </h1>
                        <div class="d-none d-sm-block">
                            <small>Acid, Hardcore</small>
                        </div>
                        <div class="text-uppercase">vendredi 22 octobre 2021</div>
                    </div>
                </div>
            </a>
        </article>
        <article class="col-12 col-sm-6 col-lg-4 p-0">
            <script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "Event",
        "name": "Fritz Kalkbrenner",
        "url": "https://www.warehouse-nantes.fr/event/fritz-kalkbrenner",
        "description": "",
        "image": "https://www.warehouse-nantes.fr/images/event_flyer/5e73505cd355e105691737.jpg",
        "startDate": "2021-10-27CEST20:00:00",
        "endDate": "2021-10-27CEST23:00:00",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
            "@type": "Place",
            "name": "Warehouse",
            "sameAs": "https://www.warehouse-nantes.fr/",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "21 quai des Antilles",
                "addressLocality": "Nantes",
                "postalCode": "44200",
                "addressCountry": "FR"
            }
        },
        "offers": {
            "@type": "Offer",
            "url": "https://www.warehouse-nantes.fr/event/fritz-kalkbrenner",
                        "priceCurrency": "EUR",
            "availability": "https://schema.org/InStock"
        },
        "performer": [
                        {
                "@type": "Person",
                "name": "Fritz Kalkbrenner",
                "url": "http://www.fritzkalkbrenner.com",
                "sameAs": [
                  "https://www.facebook.com/fritzkalkbrennerofficial/", "https://www.instagram.com/fritzkalkbrenner/", "https://soundcloud.com/fritzkalkbrenner", "https://www.youtube.com/user/FritzKalkbrennerTV", "https://www.residentadvisor.net/dj/fritzkalkbrenner"
                ]
            }                    ]
    }
</script>


            <a href="/event/fritz-kalkbrenner?utm_source=banner" class="card">
                <img class="card-img rounded-0 ls-is-cached lazyloaded"
                    data-src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5ee4a1276700f144305784.jpg"
                    src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5ee4a1276700f144305784.jpg"
                    alt="Fritz Kalkbrenner">

                <div class="card-img-overlay d-inline-flex flex-column justify-content-center text-center">
                    <div class="card-text text-white text-shadow">
                        <h1 class="h5 text-uppercase font-weight-bold text-white mb-0">
                            Fritz Kalkbrenner
                        </h1>
                        <div class="d-none d-sm-block">
                            <small>Electro, Techno</small>
                        </div>
                        <div class="text-uppercase">mercredi 27 octobre 2021</div>
                    </div>
                </div>
            </a>
        </article>
        <article class="col-12 col-sm-6 col-lg-4 p-0">
            <script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "Event",
        "name": "Fakear",
        "url": "https://www.warehouse-nantes.fr/event/fakear-1",
        "description": "FAKEAR présentera son nouvel album « Everything Will Grow Again » le jeudi 1er avril 2021.",
        "image": "https://www.warehouse-nantes.fr/images/event_flyer/5eeb14164b47d602577518.jpg",
        "startDate": "2021-10-29CEST19:30:00",
        "endDate": "2021-10-29CEST22:30:00",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
            "@type": "Place",
            "name": "Warehouse",
            "sameAs": "https://www.warehouse-nantes.fr/",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "21 quai des Antilles",
                "addressLocality": "Nantes",
                "postalCode": "44200",
                "addressCountry": "FR"
            }
        },
        "offers": {
            "@type": "Offer",
            "url": "https://www.warehouse-nantes.fr/event/fakear-1",
                        "priceCurrency": "EUR",
            "availability": "https://schema.org/InStock"
        },
        "performer": [
                        {
                "@type": "Person",
                "name": "Fakear",
                "url": "http://fakearmusic.com/",
                "sameAs": [
                  "https://www.facebook.com/fakear/", "https://www.instagram.com/fakearmusic/", "https://open.spotify.com/artist/4eFImh8D3F15dtZk0JQlpT", "https://www.youtube.com/user/FakearVEVO", "https://twitter.com/fakearmusic"
                ]
            }                    ]
    }
</script>


            <a href="/event/fakear-1?utm_source=banner" class="card">
                <img class="card-img rounded-0 ls-is-cached lazyloaded"
                    data-src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5eeb1d0463939020350074.jpg"
                    src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5eeb1d0463939020350074.jpg"
                    alt="Fakear">

                <div class="card-img-overlay d-inline-flex flex-column justify-content-center text-center">
                    <div class="card-text text-white text-shadow">
                        <h1 class="h5 text-uppercase font-weight-bold text-white mb-0">
                            Fakear
                        </h1>
                        <div class="d-none d-sm-block">
                            <small>Electro</small>
                        </div>
                        <div class="text-uppercase">vendredi 29 octobre 2021</div>
                    </div>
                </div>
            </a>
        </article>
        <article class="col-12 col-sm-6 col-lg-4 p-0">
            <script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "Event",
        "name": "Boris Brejcha",
        "url": "https://www.warehouse-nantes.fr/event/boris-brejcha",
        "description": "Le label FCKNG SERIOUS est de retour à Nantes pour une de ses seules dates en France en 2021 !",
        "image": "https://www.warehouse-nantes.fr/images/event_flyer/5ea2c54a52d58626042996.jpg",
        "startDate": "2021-11-05CET23:30:00",
        "endDate": "2021-11-06CET06:30:00",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
            "@type": "Place",
            "name": "Warehouse",
            "sameAs": "https://www.warehouse-nantes.fr/",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "21 quai des Antilles",
                "addressLocality": "Nantes",
                "postalCode": "44200",
                "addressCountry": "FR"
            }
        },
        "offers": {
            "@type": "Offer",
            "url": "https://www.warehouse-nantes.fr/event/boris-brejcha",
                        "priceCurrency": "EUR",
            "availability": "https://schema.org/InStock"
        },
        "performer": [
                        {
                "@type": "Person",
                "name": "Ann Clue",
                "url": "",
                "sameAs": [
                  "https://www.facebook.com/annclue/", "https://www.instagram.com/annclue/", "https://soundcloud.com/annclue", "https://www.youtube.com/channel/UCoGLQgPTZbQvE4VrJPeMLLg", "https://www.residentadvisor.net/dj/annclue"
                ]
            },                        {
                "@type": "Person",
                "name": "Boris Brejcha",
                "url": "https://www.borisbrejcha.de/",
                "sameAs": [
                  "https://www.facebook.com/BorisBrejcha.Official/", "http://instagram.com/borisbrejcha", "http://soundcloud.com/boris-brejcha", "http://www.youtube.com/channel/UCukezONa4veoJBeK9UuVZew", "https://twitter.com/BB_BORISBREJCHA", "https://www.residentadvisor.net/dj/borisbrejcha"
                ]
            },                        {
                "@type": "Person",
                "name": "Deniz Bul",
                "url": "https://www.denizbul.net",
                "sameAs": [
                  "https://www.facebook.com/DenizBul.Official/", "https://www.instagram.com/denizbul_music/", "https://soundcloud.com/denizbul", "https://www.youtube.com/channel/UC5naVQdYTf8xu-J2oyIaLng", "https://twitter.com/denizbul", "https://www.residentadvisor.net/dj/denizbul"
                ]
            },                        {
                "@type": "Person",
                "name": "Theydream",
                "url": "http://www.theydream.ch/",
                "sameAs": [
                  "https://www.facebook.com/Theydream.CH/", "https://www.instagram.com/theydream.ch/", "https://soundcloud.com/theydream", "https://www.residentadvisor.net/dj/theydream"
                ]
            }                    ]
    }
</script>


            <a href="/event/boris-brejcha?utm_source=banner" class="card">
                <img class="card-img rounded-0 ls-is-cached lazyloaded"
                    data-src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5ea2c54a53303381346486.jpg"
                    src="https://www.warehouse-nantes.fr/media/cache/event_banner/images/event_cover/5ea2c54a53303381346486.jpg"
                    alt="Boris Brejcha">

                <div class="card-img-overlay d-inline-flex flex-column justify-content-center text-center">
                    <div class="card-text text-white text-shadow">
                        <h1 class="h5 text-uppercase font-weight-bold text-white mb-0">
                            Boris Brejcha
                        </h1>
                        <div class="d-none d-sm-block">
                            <small>Electro, Techno</small>
                        </div>
                        <div class="text-uppercase">vendredi 5 novembre 2021</div>
                    </div>
                </div>
            </a>
        </article>
    </div>
</section>