<div class="errors mt-3" *ngIf="errors">
    <div class="pan">
        <div *ngFor="let error of errors let index = index">
            <div class="d-flex error">
                <div class="text-danger d-flex align-items-center">
                    <i class="fas fa-exclamation-triangle mr-1"></i>
                    {{error.type}}
                </div>
                <div class="text-white ml-2 ">
                    {{error.type}} le {{error.date}} dans le fichier {{error.file}} à la ligne {{error.line}} {{error.ip}}
                </div>
            </div>
        </div>
    </div>
</div>