@import url('https://fonts.googleapis.com/css?family=Raleway:800');
body {
    font-family: 'Ubuntu', sans-serif;
    background: #1b202c;
    font-size: 12px;
    color: #212529;
}

.bg-warehouse {
	background:#25272f;
	color:#eee;
	&.border {
		border:solid 1px #11141d !important;
	}

	border-radius: unset;

	

	& .input-group-text {
		background: #1b202c;
		color:#eee;
		border: 1px solid #11141d;
	}

	& .custom-file-label, & .form-control {
		background-color: #25272f;
		color: #eee;
    	border: 1px solid #11141d;
		height: 34px;

		&:after {
			background:#1b202c;
			top: -0.5px;
			height: calc(1.5em + 0.85rem);
		}
	}
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.wrapper {
    display: flex;
    align-items: stretch;
    position: relative;
}

.custom-button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background:none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    font-weight:800;
    line-height: 30px; 
	color:#eee;
    
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: 1em; }
h6 { font-size: .75em; }

.form-control, .modal-content, .alert {
	border-radius:unset;
	font-size:13px;
	color: #333;
}

label {
	font-size:13px;
}

::-webkit-input-placeholder {
    color: #333 !important;
    font-size: 13px;
}

::-moz-placeholder {
    color: #333 !important;
    font-size: 13px;
}

:-ms-input-placeholder {
    color: #333 !important;
    font-size: 13px;
}

::placeholder {
    color: #333 !important;
    font-size: 13px;
}



.btn {
	position: relative;
	width: calc(0.8 * 200px);
	height: calc(0.7 * 50px);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
	margin: 0 0.8rem;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 3px 8px rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(0, 0.22, .3, 1);
    border-radius:unset;
    
	
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.1);
	}

	span{
		color: #fff;
		font-size: 0.6rem;
		z-index: 10;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	&.btn-primary{ background: #2980b9 }
	&.btn-info{	background: #8e44ad }
	&.btn-success{	background: #16a085 }
	&.btn-danger{	background: #e74c3c }


	.back{
		position: absolute;
		width: 0;
		height: 0;
		filter: url(#filter);
		border-radius: 50%;
		z-index: 5;
		transition: all 2.5s cubic-bezier(0.1, 0.22, .3, 1);
    }
    border:none;

	&.btn-primary .back{
		left: -100%;
		top: -100%;
		background: #27ae60;
	}
	&.btn-info .back{
		right: -100%;
		top: -100%;
		background: #c0392b;
	}
	&.btn-success .back{
		left: -100%;
		bottom: -100%;
		background: #34495e;
	}
	&.btn-danger .back{
		right: -100%;
		bottom: -100%;
		background: #2980b9;
	}

	&:hover .back{
		width: calc(2 * 200px);
		height: calc(2 * 50px);
	}
}

.list-group-item {
	padding:5px;
	&:first-child, &:last-child {
		border-radius: unset;
	}	
	& i {
		margin-right:10px;
		color:#d0b29b;
	}
}
.title {
	display:flex;
	align-items: center;
	& i {
		margin-right:5px;
		color:#cf4436;
	}
}

.bg-primary {
	background: #2980b9 !important;
}
.bg-danger {
	background: #e74c3c !important;
}
.bg-success {
	background: #16a085 !important;
}
.bg-info {
	background: #8e44ad !important;
}
.bg-warning {
	background: rgb(184, 129, 29) !important;
}

.text-primary {
	color: #2980b9 !important;
}
.text-danger {
	color: #e74c3c !important;
}
.text-success {
	color: #16a085 !important;
}
.text-info {
	color: #8e44ad !important;
}
.text-warning {
	color: rgb(184, 129, 29) !important;
}

.ck-editor__editable_inline {
    min-height: 500px;
}

.input-group-prepend {
	& .input-group-text {
		border-radius: unset;
	}
}
.custom-file-label, .custom-file-label::after {
	border-radius: unset;   
}
.custom-file-label::after { 
	content: "\1f4d6";
}
.custom-file-label { 
	margin-right: -1px; //correction d'un bug de pixel
}
strong {
	font-weight: 900;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}